<container>

	<div id="q_title">
		<h2><%= @question.title %></h2>
		<p>Asked by: <%= @asker.full_name %></p>
	</div>

	<div id="q_desc">
		<p><%= @question.description %></p>

	</div>

	<div id="answers">
		<h2>What people say:</h2>
		<ul>
			<% if @answers.first != nil %>
				<% @answers.each_with_index do |answer,i| %>
				<li>
				<p><%= answer.description %></p>
				<p>Answered by: <%= @helper[i].full_name %></p>
				</li>
				<% end %>
			<% else %>
				<p>No one has cracked this nut yet.</p>
			<% end %>
		</ul>
	</div>

	<% if session[:user_id] == nil %>
		<div>
			<h2>Only registered users can answer questions.</h2>
			<a href="/hello">Join the party!</a> 
		</div>
	<% else %>
		<div id="addanswer">
			<h2>Submit your answer for this question!</h2>
			<form method=post action=/<%=@question.id%>/addanswer>
				<input type=text placeholder="Write your answer here" name="answer[description]"></br>
				<input type=submit value="Post">
			</form>
		</div>
	<% end %>
</container>