<container>

	<div id="questionbox">
		<div id="q_title">
			<h2><%= @question.title %></h2>
			<p>Asked by: <%= @asker.full_name %></p>
		</div>

		<div id="q_desc">
			<p><%= @question.description %></p>
		</div>

		<% if current_user.id == @question.user_id.to_i %>
			<div id="q_modify">
				<form method=get action=/questions/<%=@question.id%>/editq>
					<input type=submit value="Edit">
				</form>
				<form method=post action=/questions/<%=@question.id%>/deleteq>
					<input type=submit value="Delete">
				</form>
			</div>
		<%end%>
	</div>

	<div id="votingq">
		<% if @votedq == nil %>
			<form method=post action=/<%=@question.id%>/upvoteq>
				<input type=submit value="Upvote">
			</form>
			<p><%= @countq %></p>
			<form method=post action=/<%=@question.id%>/downvoteq>
				<input type=submit value="Downvote">
			</form>
		<% elsif @votedq.vote_type == 1 %>
			<p>Upvoted!</p>
			<p><%= @countq %></p>
			<p></p>
		<% elsif @votedq.vote_type == -1 %>
			<p></p>
			<p><%= @countq %></p>
			<p>Downvoted!</p>
		<% end %>
	</div>

	<div id="answers">
		<h2>What people say:</h2>
		<ul>
			<% if @answers.first != nil %>
				<% @answers.each_with_index do |answer,i| %>
					<li>
						<div>
							<p><%= answer.description %></p>
							<p>Answered by: <%= @helper[i].full_name %></p>
						</div>

						<% @votesa = AnswerVote.where(answer_id: answer.id) %>
						<% if @votesa.first == nil %>
						<% @counta = 0 %>
						<% else %>
						<% @counta = 0 %>
						<% @votesa.each do |vote| %>
						<% @counta += vote.vote_type %>
						<% end %>
						<% end %>

						<% if current_user.id == answer.user_id.to_i %>
							<div id="a_modify">
								<form method=get action=/answers/<%=answer.id%>/edita>
									<input type=submit value="Edit">
								</form>
								<form method=post action=/answers/<%=answer.id%>/deletea>
									<input type=submit value="Delete">
								</form>
							</div>
						<%end%>

						<% @voteda = AnswerVote.where(user_id: session[:user_id]).where(answer_id: answer.id).first %>
						
						<div id="votinga">
							<% if @voteda == nil %>
								<form method=post action=/<%=@question.id%>/upvotea/<%=answer.id%>>
									<input type=submit value="Upvote">
								</form>
								<p><%= @counta %></p>
								<form method=post action=/<%=@question.id%>/downvotea/<%=answer.id%>>
									<input type=submit value="Downvote">
								</form>
							<% elsif @voteda.vote_type == 1 %>
								<p>Upvoted!</p>
								<p><%= @counta %></p>
								<p></p>
							<% elsif @voteda.vote_type == -1 %>
								<p></p>
								<p><%= @counta %></p>
								<p>Downvoted!</p>
							<% end %>
						</div>
					</li>
				<% end %>
			<% else %>
				<p>No one has cracked this nut yet.</p>
			<% end %>
		</ul>
	</div>

	<% if session[:user_id] == nil %>
		<div>
			<h2>Only registered users can answer questions.</h2>
			<a href="/hello">Join the party!</a> 
		</div>
	<% else %>
		<div id="addanswer">
			<h2>Submit your answer for this question!</h2>
			<form method=post action=/<%=@question.id%>/addanswer>
				<input type=text placeholder="Write your answer here" name="answer[description]"></br>
				<input type=submit value="Post">
			</form>
		</div>
	<% end %>
</container>