<container>

	<div>
		<h1><%= @message %></h1>
	</div>

	<div>
		<% if @answers.first == nil %>
			<p><%= @no_answer %></p>
		<% else %>
			<p>All answers by <%=@user.full_name%></p>
			<ul>
				<% @answers.each do |answer| %>
					<li><a href="/questions/<%=answer.question_id%>"><%=answer.description%></a></li>
				<% end %>
			</ul>
		<% end %>
	</div>

</container>